body {
  background-color: #f1f1f1;
}
.profile {
  background-color: #fff;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  padding: 30px 0px 0px 0px;
  color: #6f7070;
  box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 2px 5.3px rgb(0 0 0 / 5%),
    0 2px 10px rgb(0 0 0 / 6%), 0 2px 17.9px rgb(0 0 0 / 7%),
    0 2px 33.4px rgb(0 0 0 / 9%), 0 2px 80px rgb(0 0 0 / 12%);
}
.description {
  text-align: center;
}
.avatar {
  border-radius: 50%;
  width: 110px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}
.name {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.tag {
  margin-bottom: 10px;
}
.location {
  margin-bottom: 20px;
}
.stats {
  display: flex;
  justify-content: space-between;
  background: #def5f3;
}
.statsItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #adeae5;
  padding: 12px;
  text-align: center;
  width: calc(100% / 3);
}
.label {
  font-size: 12px;
  margin-bottom: 5px;
}
.quantity {
  font-weight: 700;
}
