.friendList {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 250px;
  color: #6f7070;
}
.item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 5px 15px;
  box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 2px 5.3px rgb(0 0 0 / 5%),
    0 2px 10px rgb(0 0 0 / 6%), 0 2px 17.9px rgb(0 0 0 / 7%),
    0 2px 33.4px rgb(0 0 0 / 9%), 0 2px 80px rgb(0 0 0 / 12%);
}
.item:last-child {
  margin-bottom: 0px;
}
.status {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  margin-right: 10px;
}
.false {
  composes: status;
  background: red;
}
.true {
  composes: status;
  background: green;
}
.avatar {
  margin-right: 10px;
}
.name {
  color: #6f7070;
  font-weight: 500;
}
