.statistics {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 250px;
  box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 2px 5.3px rgb(0 0 0 / 5%),
    0 2px 10px rgb(0 0 0 / 6%), 0 2px 17.9px rgb(0 0 0 / 7%),
    0 2px 33.4px rgb(0 0 0 / 9%), 0 2px 80px rgb(0 0 0 / 12%);
}
.title {
  text-align: center;
  padding: 20px;
  background: #fff;
  color: #6f7070;
}

.statList {
  display: flex;
  justify-content: space-between;
}
.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: center;
  width: calc(100% / 5);
}
.label {
  font-size: 12px;
}
.percentage {
  font-weight: 500;
}
