.transactionHistory {
  margin: 25px auto;
  width: 400px;
  box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 3%), 0 2px 5.3px rgb(0 0 0 / 5%),
    0 2px 10px rgb(0 0 0 / 6%), 0 2px 17.9px rgb(0 0 0 / 7%),
    0 2px 33.4px rgb(0 0 0 / 9%), 0 2px 80px rgb(0 0 0 / 12%);
}
.title {
  background: #adeae5;
}
.titleName,
.itemValue {
  text-align: center;
  padding: 10px;
}
.item:nth-child(even) {
  background: #cbcbcb;
}
